@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// nav
.navbar-toggler {
  border: 0;

  &:focus {
    box-shadow: none;
  }
}

.nav-item {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
  &:hover {
    border-color: $primary;
  }
}

.gallery {
  width: 4000px;
  img {
    max-width: 305px;
    object-fit: cover;
    margin: 4.7rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

@media screen and (min-width: 900px) {
  .gallery {
    width: 100vw;

    img {
      margin: 4rem;
    }
  }
}
