@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// nav
.navbar-toggler {
  border: 0;

  &:focus {
    box-shadow: none;
  }
}

.gallery {
  width: 4000px;
  img {
    max-width: 305px;
    object-fit: cover;
    margin: 4.7rem;
  }
}

@media screen and (min-width: 900px) {
  .gallery {
    width: 100vw;

    img {
      margin: 4rem;
    }
  }
}
