@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:wght@300;400&display=swap");

// General Styles
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3 {
  font-family: "Caveat", cursive;
}

h1 {
  font-size: 2.8rem;
  max-width: 380px;
}

// nav
.navbar-toggler {
  border: 0;

  &:focus {
    box-shadow: none;
  }
}

// header + bg
.header-pg {
  max-width: 380px;
}

.header-bg {
  background: url("../assests/header.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin-top: -60px;
}

@media screen and (max-width: 768px) {
  .header-bg {
    margin-top: -160px;
  }
}

@media screen and (max-width: 390px) {
  .header-bg {
    background-position: -485px;
  }
}

// about
.about-pg {
  font-size: 1.4rem;
  max-width: 400px;
  margin: 0 auto;
}

// work
.carousel-wrapper {
  max-width: 500px;
  margin: 0 auto;

  img {
    height: 63vh;
    object-fit: cover;
  }
}

@media screen and (min-width: 700px) {
  .carousel-wrapper {
    img {
      height: 600px;
      object-fit: cover;
    }
  }
}

// pricing
#pricing {
  .card {
    background-color: #d0e1f6;
    max-width: 350px;
    margin: auto;
  }

  // the size boxes
  .size-boxes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .size-box {
    border: 1px solid #48ac27;
    padding: 0.3rem 0.55rem;
    cursor: pointer;
    border-radius: 3px;
  }

  .sizes-note {
    font-size: 0.7rem;
  }
  .size-box.clicked {
    background-color: #48ac27;
  }

  // the checkbox in pricing card

  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  .toggle {
    visibility: hidden;
  }

  .label {
    background-color: #d0d0d0;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0;
    width: 75px;
    height: 35px;
    position: relative;
  }

  .toggle:checked + .label {
    background-color: #48ac27;
  }

  .ball {
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    align-items: center;
    justify-content: center;
    animation: slideOff 0.3s linear forwards;
  }

  .toggle:checked + .label .ball {
    animation: slideOn 0.3s linear forwards;
  }

  @keyframes slideOn {
    0% {
      transform: translateX(0) scale(1);
    }
    50% {
      transform: translateX(20px) scale(1.2);
    }
    100% {
      transform: translateX(40px) scale(1);
    }
  }

  @keyframes slideOff {
    0% {
      transform: translateX(40px) scale(1);
    }
    50% {
      transform: translateX(20px) scale(1.2);
    }
    100% {
      transform: translateX(0) scale(1);
    }
  }

  // total price
  .total-price {
    border: #48ac27 1px solid;
    padding: 0.5rem;

    #total {
      margin-left: 40px;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .total-note {
    margin-left: -130px;
  }
}

@media screen and (min-width: 700px) {
  #pricing {
    .card {
      max-width: 450px;
    }

    .size-box {
      padding: 0.5rem 0.9rem;
      font-size: 1.2rem;
    }

    .sizes-note {
      font-size: 0.9rem;
    }

    .total-note {
      margin-left: -230px;
    }
  }
}

// Testimonials
.testi-wrapper {
  max-width: 480px;
  padding: 1rem;
  background-color: $light;
  margin: 1rem 0;

  .testi-inner {
    display: flex;

    .testi-img {
      margin-right: 25px;
      width: 140px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .testi-content {
    text-align: left;
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      img {
        margin-top: -30px;
      }
    }
  }
}

// form
form {
  margin: 3rem auto;
  padding: 2.5rem 2rem;
  max-width: 350px;
  background-color: #fff;
  border-radius: 8px;
}

@media screen and (min-width: 700px) {
  form {
    max-width: 480px;
  }
}

//footer
.footer {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 28px;
    }

    i {
      font-size: 1.4rem;
      padding: 3px;
      &:hover {
        transform: scale(1.2);
      }
    }
    .fa-facebook-square {
      color: #0f92f3;
    }
    .fa-instagram-square {
      color: #d64c60;
    }
    .fa-twitter-square {
      color: #2786cf;
    }
    .fa-linkedin {
      color: #0f67aa;
    }
    .fa-envelope {
      color: #c76030;
    }
  }
}

@media screen and (min-width: 700px) {
  .footer {
    &-top {
      i {
        font-size: 2.5rem;
        padding: 10px;
      }
      img {
        height: 35px;
      }
    }

    &-middle {
      font-size: 1.2rem;
    }

    &-end {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
